/*roman silver #83858C */

*{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    width:100vw;
    height:100vh;
    color:#f1f1f1;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    overflow-x:hidden;
}

header{
    width:100%;
    height:15vh;
    padding:1.5em 1em;
    text-align:center;
    background-color:rgb(0, 6, 38);
}

.menu{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin:0 auto;
}


header ul{
    height:3.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

header ul li a{
    padding:10px 30px;
    color:#F7F7FF;
}

header ul li:last-of-type a{
    border:3px solid #f7fcff;
    border-radius: 2px;
    /* background: linear-gradient(to bottom, rgb(0, 14, 38), rgb(40, 46, 93)); */
}
header ul li:last-of-type:hover a{
    /* background: linear-gradient(to bottom, rgb(0, 27, 69), rgb(79, 91, 182)); */
    cursor:pointer;
}

header ul li:first-of-type a::after {
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
  header ul li:first-of-type a:hover::after { 
    width: 100%; 
}

h1{
    font-weight: 900;
    font-size:4rem;
    text-align: center;
}

h2{
    font-size:3.5rem;
    text-align: center;
    
}

h3{
    font-size:1rem;
    font-weight: 300;
    text-align: center;
}

h4{
    font-size:2.5rem;
    font-weight: 300;
    text-align: center;

}

h5{
    font-size:20px;
    text-align: center;
}

.home-title{
    font-size:2.2rem;
    font-weight: 900; 
    letter-spacing: 1px; 
}

.home-subtitle{
    font-weight: 300;
    font-size:1.7rem;
    letter-spacing: 4px;
    margin:20px 0 0 0;
    color:#22d5f4;
}


.title{
    font-weight: 700;
    font-size: 2.5rem;
    margin:0 0 100px 0;
    padding:0px 10px;
    border-bottom: 3px solid rgb(4, 44, 113);
    color:rgb(4, 44, 113);

}

.project-card-title{
    font-size:20px;
    font-weight: 900;
    text-align: center;
    margin-bottom:1rem;
    
}

.project-img{
    box-sizing: content-box;
    width:100%;
    max-width:250px;
    /* border: 10px solid #dcdcdc; */
    border-radius:2px;
    outline: 2px solid rgb(159, 172, 193);
}
.icon{
    font-size:30px;
    margin-top: 10px;
    color:rgb(4, 44, 113);
    position:relative;
    right:40%;

}
.project-card{
    width: 900px;
    max-width:90%;
    margin: 0 0 50px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color:#0A0903;
    background-color: #F7F7FF;
    border-radius:2px;
    padding:40px 30px 40px 30px;
}

.project-text{
    font-size:15px;
    width:100%;
    max-width:500px;
    height:100%;
    color: rgb(40, 46, 93);
    text-align: center;
    margin:60px 0;
}

.section-container{
    width: 100%;
    min-height:620px;
    display:flex;
    flex-direction: column;
    padding:100px 0;
    justify-content: space-evenly;
    align-items: center;
    font-size:2rem; 
   /* background-color: #F0EFF4;*/
}

#home{
    background: linear-gradient(to bottom, rgb(0, 14, 38), rgb(40, 46, 93));
}
#projects{
    background: linear-gradient(to top, rgb(0, 14, 38), rgb(40, 46, 93));
}
.content-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content-container-row{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.tags-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:100px;
    position:relative;

}

.text-box {
    max-width:400px;
    font-size:1rem;
    text-align: center;
    color:rgb(40, 46, 93);
    padding:10px 20px;
    background: rgba(82, 114, 190, 0.2);
    border-radius: 4px;
}

.img-mid{
    max-width:80px;
    margin:0 50px;
}
.image-box{
    max-width: 500px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 60px 0 120px 0;

}

.image-box img{
    width:55px;
    height:55px;
    margin:20px 50px;
    padding:5px;
    /* border-bottom:3px solid rgb(40, 46, 93); */
    border-radius: 2px;
}

.side-card{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.2rem;
    border: 2px solid #F7F7FF;
    border-radius: 2px;
    padding:3rem auto;
    margin-bottom:20px;
    width:250px;
    max-width:90%;
    color:#F7F7FF;
    background-color: rgb(0, 8, 22);
    font-size: 1rem;
    transition: 0.5s;
}

.side-card:hover{
    background-color: rgb(40, 46, 93);
}

i{
    font-size:2.5rem;
}
#home i{
    position:relative;
    top:180px;
}


footer{
    padding: 100px 10%;
    background-color: rgb(0, 8, 22);
    color:#F7F7FF;
}

.dark{
    color:rgb(4, 44, 113);
}
.white{
    color:#F7F7FF;
    border-bottom: 3px solid #F7F7FF;
}

.tag{
    background-color:rgb(66, 76, 151);
    font-size:12px;
    margin:5px;
    padding:2px 6px;
    border-radius: 2px;
    color:#F7F7FF;
}

.project-tag{
    position: relative;
    top:40px;
}

form{
    background-color: rgb(248, 248, 248);
    width:400px;
    max-width: 90%;
    max-height:500px;
    color:#0A0903;
    border-radius: 2px;
    padding:80px 20px;
}

form input{
    width:90%;
    margin-bottom: 15px;
    text-align: center;
    height:30px;
}

form textarea{
    width:90%;
    text-align: center;
    margin-bottom: 15px;
}

form button{
    width:50%;
    height:10%;
}

a {
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

hr{
    width:100%;
    margin:50px 0;
}

@media screen and (max-width: 900px) {
    header ul li a{
        font-size:12px;
    }
    .home-title{
        font-size:2rem;
    }

    .home-subtitle{

        font-size:1.4rem;
}
    h5{
        font-size: 10px;
    }

    .content-container-row {
      flex-direction: column;
    }
    form{
        margin-bottom:50px;
    }
    
  }